#section-1{
    background-color: var(--white);
    height: 30vh;
    // display: block;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding-top: 130px;
    // padding-top: 40px;
    line-height: 10px;

    #header {
        padding-top: 90px;


    }
    h1 {
        font-size: 50px;
    }
    p {
        font-size: 30px;
        font-weight: 100;
    }
}