#section-2{
    background-color: var(--charcoal);
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/hero.jpg");
    background-size: cover;

    #box{
        height: 100px;
        width: 200px;
        background-color: var(--white);
        border: 3px solid var(--yellow);
    }
}