#section-4{
    // background-color: var(--charcoal);
    height: 50vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-image: url("../img/type.jpg");
    margin-bottom: 200px;
    margin-left: 100px;
    margin-right: 100px;
    background-size:cover;
    text-align: center;

    #box3{
        height: 90px;
        width: 250px;
        background-color: var(--white);

        p{
            display: flex;
            justify-content: center;
            align-items: center;
            background-size:cover;
            text-align: center;
            padding-top: 15px;
            font-size: 21px;
        }
    }
}